@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 12 14% 8%;
    --foreground: 30 20% 94%;
    --card: 12 14% 12%;
    --card-foreground: 30 20% 94%;
    --popover: 12 14% 12%;
    --popover-foreground: 30 20% 94%;
    --primary: 142 90% 49%;
    --primary-foreground: 12 14% 8%;
    --secondary: 210 5% 59%;
    --secondary-foreground: 30 20% 10%;
    --muted: 12 14% 20%;
    --muted-foreground: 210 5% 50%;
    --accent: 24 99% 63%;
    --accent-foreground: 12 14% 8%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 30 20% 94%;
    --border: 12 14% 20%;
    --input: 12 14% 20%;
    --ring: 142 90% 49%;
    --chart-1: 24 99% 63%;
    --chart-2: 142 90% 49%;
    --chart-3: 271 83% 64%;
    --chart-4: 49 99% 65%;
    --chart-5: 351 91% 66%;
    --radius: 0.75rem;
    --sidebar-background: 12 14% 12%;
    --sidebar-foreground: 30 20% 64%;
    --sidebar-primary: 142 90% 49%;
    --sidebar-primary-foreground: 12 14% 8%;
    --sidebar-accent: 12 14% 20%;
    --sidebar-accent-foreground: 24 99% 63%;
    --sidebar-border: 12 14% 20%;
    --sidebar-ring: 142 90% 49%;
  }

  .dark {
    --background: 12 14% 8%;
    --foreground: 30 20% 94%;
    --card: 12 14% 12%;
    --card-foreground: 30 20% 94%;
    --popover: 12 14% 12%;
    --popover-foreground: 30 20% 94%;
    --primary: 142 90% 49%;
    --primary-foreground: 12 14% 8%;
    --secondary: 210 5% 59%;
    --secondary-foreground: 30 20% 10%;
    --muted: 12 14% 20%;
    --muted-foreground: 210 5% 50%;
    --accent: 24 99% 63%;
    --accent-foreground: 12 14% 8%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 30 20% 94%;
    --border: 12 14% 20%;
    --input: 12 14% 20%;
    --ring: 142 90% 49%;
    --chart-1: 24 99% 63%;
    --chart-2: 142 90% 49%;
    --chart-3: 271 83% 64%;
    --chart-4: 49 99% 65%;
    --chart-5: 351 91% 66%;
    --sidebar-background: 12 14% 12%;
    --sidebar-foreground: 30 20% 64%;
    --sidebar-primary: 142 90% 49%;
    --sidebar-primary-foreground: 12 14% 8%;
    --sidebar-accent: 12 14% 20%;
    --sidebar-accent-foreground: 24 99% 63%;
    --sidebar-border: 12 14% 20%;
    --sidebar-ring: 142 90% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
